@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700;900&display=swap');

:root {
    --color-logo: rgb(227, 25, 54); /* #E31936 */

    --color-red-light: rgb(231, 77, 60); /* #E74D3C */
    --color-red-dark: rgb(192, 57, 43); /* #C0392B */
    --color-orange-light: rgb(230, 125, 34); /* #E67D22 */
    --color-orange-dark: rgb(211, 84, 0); /* #D35400 */
    --color-yellow-light: rgb(241, 196, 15); /* #F1C40F */
    --color-yellow-dark: rgb(243, 156, 18); /* #F39C12 */
    --color-green-light: rgb(46, 204, 112); /* #2ECC70 */
    --color-green-dark: rgb(39, 174, 96); /* #27AE60 */
    --color-turquoise-light: rgb(26, 188, 156); /* #1ABC9C */
    --color-turquoise-dark: rgb(22, 160, 132); /* #16A084 */
    --color-blue-light: rgb(52, 152, 219); /* #3498DB */
    --color-blue-dark: rgb(41, 128, 185); /* #2980B9 */
    --color-purple-light: rgb(156, 89, 182); /* #9C59B6 */
    --color-purple-dark: rgb(142, 68, 173); /* #8E44AD */
    --color-white-light: rgb(236, 240, 241); /* #ECF0F1 */
    --color-white-dark: rgb(189, 195, 199); /* #BDC3C7 */
    --color-gray-light: rgb(149, 165, 166); /* #95A5A6 */
    --color-gray-dark: rgb(127, 140, 141); /* #7D8C8D */
    --color-black-light: rgb(52, 73, 94); /* #34495E */
    --color-black-dark: rgb(44, 62, 80); /* #2c3e50 */

    --shadow: 1px 1px 6px rgba(0, 0, 0, 0.2), 1px 1px 16px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
}

#width-limit {
    margin: 0 auto;
    padding: 96px 32px;
    max-width: 960px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 48px;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    background: white;
    box-shadow: var(--shadow);
    z-index: 999;
}

#nav-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
}

#nav-logo:hover {
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

#nav-links a {
    display: inline-block;
    padding: 0 18px;
    height: 96px;
    line-height: 96px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black-dark);
}

#nav-log-in, #nav-cancel {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px;
    background: var(--color-logo);
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-white-light);
}

#nav-log-in-modal {
    display: none;
    position: fixed;
    padding: 42px 48px;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 6px;
    box-shadow: var(--shadow);
    z-index: 1001;
    box-sizing: border-box;
}

#nav-log-in-modal h2 {
    margin: 0 0 24px 0;
    font-size: 28px;
    color: var(--color-black-dark);
}

#nav-log-in-modal label {
    display: inline-block;
    margin: 0 0 4px 0;
    color: var(--color-black-light);
}

#nav-log-in-modal input {
    display: block;
    margin: 0 0 16px 0;
    padding: 8px 10px;
    width: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 2px solid var(--color-white-dark);
    outline: none;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}

#nav-log-in-modal input:hover {
    background: var(--color-white-light);
    border-bottom-color: var(--color-black-light);
}

#nav-log-in-modal input:focus-visible {
    border-bottom-color: var(--color-logo);
}

#nav-cancel {
    margin: 0 8px 0 0;
    padding: 6px 14px;
    background: white;
    border: 2px solid var(--color-logo);
    color: var(--color-logo);
}

#nav-modal-buttons {
    margin: 24px 0 0 0;
    text-align: right;
}

#nav-log-in-modal-tint {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--color-black-dark);
    opacity: 0.5;
    z-index: 1000;
}

#nav-dropdown {
    display: none;
    vertical-align: middle;
    margin: 0 0 0 16px;
    width: 40px;
    height: 40px;
    background: url(images/dropdown.png);
    background-size: 40px 40px;
    border: 0;
}

#nav-dropdown-links {
    display: none;
    position: fixed;
    padding: 4px;
    top: 80px;
    right: 48px;
    background: white;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

#nav-dropdown-links a {
    display: block;
    padding: 8px 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-black-dark);
}

#nav-logo:hover, #nav-links a:hover, #nav-log-in:hover, #nav-cancel:hover, #nav-dropdown:hover, #nav-dropdown-links a:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

header {
    margin: 96px 0 0 0;
}

#header-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    height: 512px;
    background: url(images/header.png) 50% 50% / cover no-repeat;
    background-color: var(--color-logo);
}

#header-logo {
    max-width: 586px;
    width: 95%;
}

#header-image p {
    margin: 24px 0 0 0;
    font-size: 28px;
    font-weight: 700;
    color: var(--color-white-light);
    text-align: center;
    text-shadow: var(--shadow);
    opacity: 0.95;
}

section:nth-child(2n) {
    background: var(--color-white-light);
}

section h1 {
    margin: 0 0 12px 0;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-logo);
}

section p {
    font-size: 24px;
    color: var(--color-black-dark);
}

footer {
    background: var(--color-logo);
    box-shadow: 0 50vh 0 50vh var(--color-logo);
    text-transform: uppercase;
}

#footer-cols {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

#footer-col {
    flex: 1;
    min-width: 256px;
}

#footer-col p, #footer-col a {
    display: block;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: var(--color-white-light);
}

#footer-col a:hover {
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

#footer-col img {
    display: block;
    margin: 0 auto;
    width: 196px;
}

@media all and (min-width:0px) and (max-width: 640px) {
    
    #nav-links a {
        display: none;
    }

    #nav-dropdown {
        display: inline-block;
    }

  }