@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;800&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --color-red-light: rgb(231, 77, 60); /* #E74D3C */
    --color-red-dark: rgb(192, 57, 43); /* #C0392B */
    --color-orange-light: rgb(230, 125, 34); /* #E67D22 */
    --color-orange-dark: rgb(211, 84, 0); /* #D35400 */
    --color-yellow-light: rgb(241, 196, 15); /* #F1C40F */
    --color-yellow-dark: rgb(243, 156, 18); /* #F39C12 */
    --color-green-light: rgb(46, 204, 112); /* #2ECC70 */
    --color-green-dark: rgb(39, 174, 96); /* #27AE60 */
    --color-turquoise-light: rgb(26, 188, 156); /* #1ABC9C */
    --color-turquoise-dark: rgb(22, 160, 132); /* #16A084 */
    --color-blue-light: rgb(52, 152, 219); /* #3498DB */
    --color-blue-dark: rgb(41, 128, 185); /* #2980B9 */
    --color-purple-light: rgb(156, 89, 182); /* #9C59B6 */
    --color-purple-dark: rgb(142, 68, 173); /* #8E44AD */
    --color-white-light: rgb(236, 240, 241); /* #ECF0F1 */
    --color-white-dark: rgb(189, 195, 199); /* #BDC3C7 */
    --color-gray-light: rgb(149, 165, 166); /* #95A5A6 */
    --color-gray-dark: rgb(127, 140, 141); /* #7D8C8D */
    --color-black-light: rgb(52, 73, 94); /* #34495E */
    --color-black-dark: rgb(44, 62, 80); /* #2c3e50 */

    --shadow: 0 0 16px var(--color-black-dark), 0 0 16px var(--color-black-dark);
}

@keyframes fly-in {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/*
 ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     
██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     
██║  ███╗██║     ██║   ██║██████╔╝███████║██║     
██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     
╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗
 ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

button {
    padding: 8px 24px;
    background: linear-gradient(135deg, var(--color-blue-dark) 0%, var(--color-black-light) 100%);
    color: var(--color-white-light);
    font-size: 24px;
    text-shadow: var(--shadow);
    letter-spacing: 1px;
    border: 2px solid var(--color-white-light);
    border-radius: 999px;
    transition: 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.75;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 999;
    transition: 0.2s ease-in-out;
}

nav:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

nav > img {
    position: absolute;
    top: 32px;
    width: 128px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    text-align: center;
    margin: 16px 0;
}

nav ul li:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 12.5%;
    height: 3px;
    width: 75%;
    background-color: var(--color-white-dark);
    opacity: 0;
    transition: 0.2s ease-in-out;
}

nav ul li:hover:after {
    bottom: -2px;
    opacity: 1;
}

nav ul li a {
    color: var(--color-white-light);
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: var(--shadow);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#img_space {
    position: absolute;
    top: -5vh;
    left: -5vw;
    height: 110vh;
    width: 110vw;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/space_travel.gif);
    filter: blur(1vh);
    z-index: -1;
}

#home_container, #card_container {
    display: flex;
    justify-content: center;
    margin: 0 0 0 200px;
    padding: 64px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    animation-name: fly-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/

#home_container {
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

h2 {
    color: var(--color-white-light);
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    text-shadow: var(--shadow);
}

h4 {
    color: var(--color-blue-light);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-shadow: var(--shadow);
}

#home_container button {
    margin: 16px 0 0 0;
}

/*
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/

#card_container {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
}

#card {
    padding: 32px;
    width: 500px;
    background-color: var(--color-black-dark);
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
}

#card img {
    margin: -32px 0 32px -32px;
}

#card h3 {
    margin: 0 0 16px 0;
    color: var(--color-white-dark);
    font-size: 24px;
    font-weight: 400;
}

#card p {
    margin: 0 0 16px 0;
    color: var(--color-white-light);
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#card p#location, #card p#calendar {
    margin: 16px 0 0 0;
    color: var(--color-white-dark);
    font-weight: 700;
}

#card p#location:before, #card p#calendar:before {
    content: "";
    display: inline-block;
    margin: 0 8px -6px 0;
    width: 24px;
    height: 24px;
}

#card p#location:before {
    background-image: url(/images/icon_location.png);
}

#card p#calendar:before {
    background-image: url(/images/icon_calendar.png);
}

/*
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║   
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
*/

h3 {
    
}

/*
███╗   ███╗ ██████╗ ██████╗ ██╗██╗     ███████╗
████╗ ████║██╔═══██╗██╔══██╗██║██║     ██╔════╝
██╔████╔██║██║   ██║██████╔╝██║██║     █████╗  
██║╚██╔╝██║██║   ██║██╔══██╗██║██║     ██╔══╝  
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║███████╗███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝╚══════╝╚══════╝
*/

@media screen and (max-width: 828px) {
    nav {
        display: none;
    }

    #home_container, #card_container {
        margin: 0;
        padding: 16px;
    }
}