<div id="width-limit">
    <div id="footer-cols">
        <div id="footer-col">
            <a href="https://www.linkedin.com/company/2220838">LinkedIn</a>
            <a href="https://www.facebook.com/northyorkharvest">Facebook</a>
            <a href="https://twitter.com/nyhfb">Twitter</a>
            <a href="https://instagram.com/nyhfb">Instagram</a>
        </div>
        <div id="footer-col">
            <a href="https://northyorkharvest.com/donate-today/">Donate</a>
            <a href="https://northyorkharvest.com/get-involved/">Get involved</a>
            <a href="https://northyorkharvest.com/career-opportunities/">Career opportunities</a>
            <a href="https://northyorkharvest.com/privacy-policy/">Privacy policy</a>
            <a href="https://northyorkharvest.com/receipting-policy/">Receipting Policy</a>
        </div>
        <div style="width: 100%"></div>
        <div id="footer-col">
            <a href="http://www.imaginecanada.ca/">
                <img src="/images/imagine-canada-logo.png" alt="Imagine Canada logo">
            </a>
        </div>
        <div id="footer-col">
            <p>Proud member of</p>
            <a href="https://feedontario.ca/">
                <img src="/images/feed-ontario-logo.png" alt="Feed Ontario logo">
            </a>
        </div>
        <div id="footer-col">
            <p>Proud affiliate member of</p>
            <a href="http://www.foodbankscanada.ca/">
                <img src="/images/food-banks-canada-logo.png" alt="Food Banks Canada logo">
            </a>
        </div>
    </div>
</div>